@model IEnumerable<Inventory>

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ADO - Read Inventory</title>
    <link rel="stylesheet" asp-href-include="lib/bootstrap/css/bootstrap.min.css" />
</head>
<body>
    <div class="container-fluid">
        <h1>Inventory <a asp-action="Create" class="btn btn-sm btn-secondary">Create</a></h1>
        <table class="table table-bordered table-sm table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Added On</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                @if (Model == null)
                {
                    <tr>
                        <td colspan="7" class="text-center">No Model Data</td>
                    </tr>
                }
                else
                {
                    @foreach (var p in Model)
                    {
                        <tr>
                            <td>@p.Id</td>
                            <td>@p.Name</td>
                            <td>@string.Format(new System.Globalization.CultureInfo("en-US"), "{0:C2}", p.Price)</td>
                            <td>@p.Quantity</td>
                            <td>@string.Format("{0:dddd, dd MMMM yyyy}", p.AddedOn)</td>
                            <td><a asp-action="Update" asp-route-id="@p.Id">Update</a></td>
                            <td>
                                <form asp-action="Delete" method="post" asp-route-id="@p.Id">
                                    <button>Delete</button>
                                </form>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</body>
</html>